<div class="Header position-sticky top-0">
    <div class="Header-item Header-item--full" style="font-family: 'Noto Serif', serif;font-style: italic">
        <a href="{{ site.baseurl }}" class="Header-link h4-mktg text-italic d-flex flex-items-center">SHMTU AA</a>
    </div>
    <div class="Header-item mr-4 hide-sm hide-md">
        <a href="{{ site.baseurl }}/about" class="Header-link f4">关于算协</a>
    </div>
    <div class="Header-item mr-4 hide-sm hide-md hide-lg">
        <a href="{{ site.baseurl }}/council" class="Header-link f4">组织架构</a>
    </div>
    <div class="Header-item mr-4 hide-sm hide-md hide-lg">
        <a href="{{ site.baseurl }}/icpc" class="Header-link f4">ICPC组</a>
    </div>
    <div class="Header-item mr-4 hide-sm hide-md hide-lg">
        <a href="{{ site.baseurl }}/academic" class="Header-link f4">学术部</a>
    </div>
    <div class="Header-item mr-4  hide-sm hide-md hide-lg">
        <a href="{{ site.baseurl }}/software" class="Header-link f4">软件部</a>
    </div>
    <div class="Header-item mr-4 hide-sm hide-md">
        <a href="{{ site.baseurl }}/fellow" class="Header-link f4">荣誉学生</a>
    </div>
    <div class="Header-item mr-4 hide-sm hide-md">
        <a href="{{ site.baseurl }}/recruit" class="Header-link f4">求贤纳士</a>
    </div>
    <div class="Header-item hide-xl">
        <details class="dropdown details-reset details-overlay d-inline-block">
            <summary class="btn" aria-haspopup="true">
                <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path></svg>
            </summary>

            <ul class="dropdown-menu dropdown-menu-sw">
                <li><a class="dropdown-item hide-lg" href="{{ site.baseurl }}/about" class="Header-link f4">关于算协</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/council" class="Header-link f4">组织架构</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/icpc" class="Header-link f4">ICPC组</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/academic" class="Header-link f4">学术部</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/software" class="Header-link f4">软件部</a></li>
                <li><a class="dropdown-item hide-lg" href="{{ site.baseurl }}/fellow" class="Header-link f4">荣誉学生</a></li>
                <li><a class="dropdown-item hide-lg" href="{{ site.baseurl }}/recruit" class="Header-link f4">求贤纳士</a></li>
            </ul>
        </details>
    </div>
</div>
